 .logo {
        padding-top: 50px;
        align-items: center;
    }
    #travle {
        border: 10px solid black;
        padding: 5px;
        width:20%;
        height:58px;
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        margin: 0 auto;
    }

    .menu {
        margin-top: 60px;
        margin-bottom: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }
    .menu a {
        font-family: "Helvetica";
        color: rgb(88 , 89, 91);
        margin-right: 20px;
        text-decoration: none;
        
    }

    #home {
        font-weight: bold;
    }
    
    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #photo {
        width: 90%;
    }

    .menu a:hover {
        cursor: pointer;
    }