body {
    font-family: sans-serif;
  }
  
  h1 {
      color: white;
  }
  .max {
      background-color: yellow;
  }

  .mid {
      background-color: purple;
  }

  .half {
      background-color: skyblue;
  }