@font-face {
    src: url("../fonts/BMJUA_ttf.ttf");
    font-family: "Jua";
}

body {
    background-color: lightskyblue;
}
img {
    border-radius: 5px;
    box-shadow: 10px 10px gray;
    height: 100px;
    overflow: hidden;
}

img:hover {
    box-shadow: 10px 10px pink;
}

    .links {
        margin: 10px auto;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid gray;
        width: 300px;
        background-color: powderblue;
        display: block;
        text-decoration: none;
        font-family: "Jua";
    }
